* {
    padding: 0em;
    margin: 0em;
    background-color: white;

}

/* Abaixo css do conteudo */

#conteudo {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
}

form {
    height: 20em;
    width: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.342);
    text-decoration: none;
    margin: 20px;
    padding: 2em;
}

.input{
    margin: 0.5em;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.158);
    padding:0.5em;
    width: 15em;
}

#divRadio{
    padding: 1em;
    display: flex;
    align-items:center ;
    justify-content: center;
    gap: 2em;
}



#btnExcluir{
    margin: 1em 0.5em 0.5em 0.5em;
    padding: 0.6em;
    border: 1px solid black;
    transition: 200ms;
    width: 5em;
}


#btnExcluir:hover{
    background-color: rgb(243, 43, 43);
    transform: translatey(-5px);
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.26);
}

#btnVoltar{
    margin: 1em 0.5em 0.5em 0.5em;
    padding: 0.6em;
    border: 1px solid black;
    transition: 200ms;
    width: 5em;
}


#btnVoltar:hover{
    transform: translatey(-5px);
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.26);
}